/Vineyard_dataset_project/data/images/
/Vineyard_dataset_project/data/images_saved/
/Vineyard_dataset_project/data/row_images/
/Vineyard_dataset_project/data/images_gif/
/Vineyard_dataset_project/data/config.yaml
/Vineyard_dataset_project/VIEW_TOP/extract_vineyard_data/labelled_parcels.csv
/Vineyard_dataset_project/VIEW_TOP/extract_vineyard_data/labels.json
